flask
mako
wtforms
flask
flask-mako
flask-wtf
flask-login
flask-auth
bitarray
ldap3
cython
numpy
pandas
matplotlib
ipython
jupyter
sqlalchemy
#cloudant>=2.0.0b1
#scipy
#scikit-learn
mysql-connector
mysqlclient
requests
